PUBLIC_API_BASE_URL=
PUBLIC_POLYGON_CHAIN_ID=
PUBLIC_USDT_ADDRESS=
PUBLIC_NIMFUEL_NIM_RECIPIENT=

POLYGON_RPC_URL=
POLYGON_RELAYER_PRIVATE_KEY=

NIMIQ_RPC_OR_VERIFICATION_ENDPOINT=
NIMIQ_VERIFICATION_API_KEY=

PRICE_API_URL=
PRICE_API_KEY=
PRICE_NIM_TICKER_ID=nim-nimiq
PRICE_POL_TICKER_ID=matic-polygon

DATABASE_URL=

NIMFUEL_NIM_RECIPIENT=
NIMFUEL_TEST_PAYMENT_LUNA=
NIMFUEL_ENABLE_LIVE_BROADCAST=
NIMFUEL_LIVE_BROADCAST_TTL_SECONDS=
NIMFUEL_LIVE_RELAY_MAX_ATTEMPTS=
NIMFUEL_RELAY_RESERVATION_GRACE_SECONDS=60
NIMFUEL_QUOTE_TTL_SECONDS=300
NIMFUEL_SERVICE_FEE_BPS=0
NIMFUEL_MIN_PAYMENT_LUNA=1000
NIMFUEL_FIXED_SERVICE_FEE_LUNA=0
NIMFUEL_REFUND_SENDER_ADDRESS=
ADMIN_API_TOKEN=

HOST=
PORT=
