PUBLIC_API_BASE_URL=
PUBLIC_POLYGON_CHAIN_ID=
PUBLIC_USDT_ADDRESS=
PUBLIC_NIMFUEL_NIM_RECIPIENT=
PUBLIC_DEFAULT_USDT_AMOUNT=

POLYGON_RPC_URL=
POLYGON_RELAYER_PRIVATE_KEY=

NIMIQ_RPC_OR_VERIFICATION_ENDPOINT=
NIMIQ_VERIFICATION_API_KEY=

PRICE_API_URL=
PRICE_API_KEY=
PRICE_FALLBACK_API_URL=
PRICE_FALLBACK_API_KEY=
PRICE_NIM_TICKER_ID=
PRICE_POL_TICKER_ID=
PRICE_MAX_DEVIATION_BPS=
PRICE_MAX_AGE_SECONDS=

DATABASE_URL=

NIMFUEL_NIM_RECIPIENT=
NIMFUEL_TEST_PAYMENT_LUNA=
NIMFUEL_ENABLE_LIVE_BROADCAST=
NIMFUEL_LIVE_BROADCAST_TTL_SECONDS=
NIMFUEL_LIVE_PROOF_AMOUNT_USDT=
NIMFUEL_RELAY_MAX_ATTEMPTS=
NIMFUEL_RELAY_RESERVATION_GRACE_SECONDS=
NIMFUEL_QUOTE_TTL_SECONDS=
NIMFUEL_SERVICE_FEE_BPS=
NIMFUEL_MIN_PAYMENT_LUNA=
NIMFUEL_FIXED_SERVICE_FEE_LUNA=
NIMFUEL_MIN_USDT_AMOUNT=
NIMFUEL_MAX_USDT_AMOUNT=
NIMFUEL_REFUND_SENDER_ADDRESS=
ADMIN_API_TOKEN=

NIMFUEL_ALERT_MIN_RELAYER_POL=
NIMFUEL_ALERT_MIN_NIM=
NIMFUEL_ALERT_WEBHOOK_URL=
NIMFUEL_ALERT_COOLDOWN_SECONDS=
NIMFUEL_MONITOR_INTERVAL_SECONDS=
NIMFUEL_HEALTH_CACHE_SECONDS=
NIMFUEL_RECOVERY_SCAN_INTERVAL_SECONDS=
NIMFUEL_RELAY_RECEIPT_TIMEOUT_SECONDS=
NIMFUEL_AUTO_REFUND_AFTER_SECONDS=
NIMFUEL_RATE_LIMIT_WINDOW_SECONDS=
NIMFUEL_RATE_LIMIT_REQUESTS_PER_WINDOW=
NIMFUEL_RATE_LIMIT_PREPARE_PER_WINDOW=
NIMFUEL_RATE_LIMIT_ORDER_PER_WINDOW=
NIMFUEL_RATE_LIMIT_RELAY_PER_WINDOW=
NIMFUEL_ALLOWED_ORIGINS=
NIMFUEL_HISTORY_LIMIT=

HOST=
PORT=
